.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #0c0a0a;
    color: #fff;
}
.header__logo {
    height: 60px;
    object-fit: cover; 
     
}
.header__icon {
    padding: 5px;
    margin: 10px;
    color: #fff;
}